<?xml version="1.0" encoding="UTF-8"?>
<configuration>

	<springProfile name="preprod,prod">

		<appender name="STDOUT_JSON" class="ch.qos.logback.core.ConsoleAppender">
			<encoder class="net.logstash.logback.encoder.LogstashEncoder">
				<includeMdcKeyName>correlation_id</includeMdcKeyName>
			</encoder>
		</appender>

		<root level="INFO">
			<appender-ref ref="STDOUT_JSON"/>
		</root>

	</springProfile>

	<springProfile name="local,test,docker">

		<appender name="STDOUT_JSON" class="ch.qos.logback.core.ConsoleAppender">
			<layout class="ch.qos.logback.classic.PatternLayout">
				<pattern>
					%green(%d{HH:mm:ss}) %cyan([%-5.5t]) %boldCyan(%0.-5p) %yellow(%logger{36}) %cyan(:) %m%n
				</pattern>
			</layout>
		</appender>

		<root level="INFO">
			<appender-ref ref="STDOUT_JSON"/>
		</root>

	</springProfile>

</configuration>
